@{
    ViewBag.Title = "Auditor Dashboard/Inbox";
}

<script>
    var testId = "";

    function setActiveCase(index, element) {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        console.log("index = " + index);
        console.log("testing prov - " + element.id );
        testId = element.id;
        element.className += " active";
    }

    function reloadDetails() {
        var container = document.getElementById("nav-tabContent");
        var content = container.innerHTML;
        container.innerHTML = content;

        //getActiveCaseHeader();

        //this line is to watch the result in console , you can remove it later
        console.log("Refreshed; active case i = " + @activeCaseIdx);
    }
</script>

@functions{
    public int activeCaseIdx = 0;
    string test = "";

    public void GetActiveCase(IEnumerable<Provider> list, string provId)
    {
        activeCaseIdx = FindIndex(list, provId);
        test = provId;
    }

    //public static int FindIndex<T>(this IEnumerable<T> list, Predicate<T> finder)
    //{
    //    // note if item not found, result is length and not -1!
    //    return list.TakeWhile(i => !finder(i)).Count();
    //}
    public static int FindIndex(IEnumerable<Provider> list, string provId)
    {
        int i = 0;
        foreach(var item in list)
        {
            if (item.ProviderID.Equals(provId))
                break;
            i++;
        }
        return i;
    }
}

@using Avengers.Mvc.Models;
@model IEnumerable<Provider>
                
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            Opioid Dashboard - Auditor View
        </div>
        <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Auditor Jane Doe</a> | @Html.ActionLink("Log Out", "Index", "Home")</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-4">
        <div id="caseList">
            <div class="list-group" id="list-tab" role="tablist">
                @foreach (var item in Model)
                {
                    <a class="@(FindIndex(Model, item.ProviderID) == 0 ? "list-group-item list-group-item-action active" : "list-group-item list-group-item-action" )"  id="@item.ProviderID" data-toggle="list" role="tab" onClick="setActiveCase(@(FindIndex(Model, item.ProviderID)), this)" href="javascript: reloadDetails()">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</a>
                }
            </div>
        </div>
        <div class="navbar">
            <p class="navbar-text">
                @Html.ActionLink("Ready to Send Report >>", "Report", "Auditor")
            </p>
        </div>
    </div>
    <div class="col-md-8 col-sm-8">
        <div class="tab-content" id="nav-tabContent">

            <br />

            <div class="container">
                <h1 id="activeCaseHeader">@Model.ElementAt(activeCaseIdx).FirstName @Model.ElementAt(activeCaseIdx).LastName suspected of fraud
                </h1>
                <br />
                <div class="container"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Name:</strong> @Model.ElementAt(activeCaseIdx).LastName, @Model.ElementAt(activeCaseIdx).FirstName</p>
                            <p><strong>NPI:</strong> @Model.ElementAt(activeCaseIdx).ProviderID</p>
                            <p><strong>Specialty:</strong> @Model.ElementAt(activeCaseIdx).Specialty</p>
                            <p><strong>State:</strong> @Model.ElementAt(activeCaseIdx).State</p>
                            <p><strong>Zip:</strong> @Model.ElementAt(activeCaseIdx).ZipCode</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Drug:</strong> @Model.ElementAt(activeCaseIdx).Opioid</p>
                            <p><strong>State Rank:</strong> @Model.ElementAt(activeCaseIdx).StateRank</p>
                            <p><strong>State 99 Percentile:</strong> @Model.ElementAt(activeCaseIdx).State99Percentile</p>
                            <p><strong>National Rank:</strong> @Model.ElementAt(activeCaseIdx).NationalRank</p>
                            <p><strong>National 99 Percentile:</strong> @Model.ElementAt(activeCaseIdx).National99Percentile</p>
                        </div>
                    </div>
                    <br />
                </div>
            </div>

            <form>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Comments</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label>Conclusion</label>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" />
                        <label class="custom-control-label" for="customRadio1">Further Investigation Required.</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" />
                        <label class="custom-control-label" for="customRadio2">No Fraud.</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Mark case as reviewed</button>
            </form>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
</div>
