@{
    ViewBag.Title = "Home Page";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("FraudRx", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>
    </div>
</div>

<div class="jumbotron">
    <h1>Opioid Fraud Detection Tool</h1>
    <p class="lead">Please sign in.</p>
    <p><button type="button" class="btn btn-default">@Html.ActionLink("Auditor Login >>", "Login", "Home")</button> <button type="button" class="btn btn-default">@Html.ActionLink("Administrator Login >>", "AdminLogin", "Home")</button></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            How to use the fraud detection tool.
        </p>
        <p><a class="btn btn-default" src="/Views/Home/About.cshtml">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Medicare Part D</h2>
        <p>See past Medicare Part D prescriber datasets.</p>
        <p><a class="btn btn-default" href="https://data.cms.gov/part-d-prescriber">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Opioid Crisis</h2>
        <p>See the latest news concerning the opioid crisis in America.</p>
        <p><a class="btn btn-default" href="https://www.google.com/search?q=opioid+epidemic+news&rlz=1C1GGRV_enUS764US764&source=lnms&tbm=nws&sa=X&ved=0ahUKEwivzcvXuoXbAhUK0VMKHcoBCv4Q_AUICigB&biw=1298&bih=582">Learn more &raquo;</a></p>
    </div>
    
</div>
